*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fdf9f3;
  color: #333333;
}
